body{
  background-color: #FEFAE0;
}

h2{
  margin: 20px;
  font-family: 'Fredoka One', serif;
}

.form-container{
  border: solid;
  border-radius: 1em;
  margin: 20px;
  padding: 10px 20px;
}

.button{
  background-color: #CCD5AE;
  border-radius: 1em;
}
