@import url('https://fonts.googleapis.com/css2?family=Fredoka+One');

body{
  background-color: #FEFAE0;
}

h2{
  margin: 1em;
  font-family: 'Fredoka One', serif;
}

.form-container{
  border: solid;
  border-radius: 1em;
  margin: 2em;
  padding: 1em 2em;
}

.button{
  background-color: #CCD5AE;
  border-radius: 1em;
}