@import url('https://fonts.googleapis.com/css2?family=Fredoka+One');

body{
  background-color: #FEFAE0;
}

h1, h2 {
  margin: 1em;
  font-family: 'Fredoka One', serif;
}

.form-container{
  border: solid;
  border-radius: 1em;
  margin: 2em;
  padding: 1em 2em;
}

.button{
  background-color: #CCD5AE;
  border-radius: 1em;
}

.contain-image {
  height: 15em;
  width: 20em;
  overflow: hidden;
  background-position: center;
  object-fit: cover;
}

.card {
  text-align: center;
  margin: 1em;
}

.card-title {
  text-align: center;
}

.webpage {
  margin: 1em;
}