@import url('https://fonts.googleapis.com/css2?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css2?family=Quicksand');

.top-bar{
  background-color: #D4A373;
  color: #faedcd;
}

.bubble-tea-icon{
  max-width: 2em;
}

.header-link{
  background-color: #D4A373;
  color: #faedcd;
}

.header-link>a{
  background-color: #D4A373;
  color: #faedcd;

  &:hover{
    background-color: #B1BA63;
    color: #E9EDC9 ;
  }
}

.header-link:hover{
  color: #E9EDC9 ;
}

.header-text{
  margin: 1em;
  font-family: 'Fredoka One', sans-serif;
}

.page-header{
  text-align: center;
}

body{
  background-color: #FEFAE0;
}

h1, h2{
  color: #D4A373;
  margin: 0.5em;
  font-family: 'Fredoka One', sans-serif;
}

h3, h4, h5, h6, p, .form-text {
  font-family: 'Quicksand', sans-serif;
}

.form-container{
  border: solid #CCD5AE;
  border-radius: 1em;
  margin: 2em auto;
  padding: 1em 2em;

}

.new-review{
  margin: 0em;
}

.button{
  background-color: #CCD5AE;
  font-family: 'Quicksand', sans-serif;
  color: #000000;
  border-radius: 1em;

  &:hover{
    background-color: #FAEDCD;
    color: #000000;
  }
}

.button>a{
  font-family: 'Quicksand', sans-serif;
  color: #000000;
  border-radius: 1em;
}

.contain-image {
  height: 15em;
  width: 20em;
  overflow: hidden;
  background-position: center;
  object-fit: cover;
}

.card {
  background-color: #CCD5AE;
  text-align: center;
  margin: 1em;
  
  &:hover{
    background-color: #D4A373;
  }
}


.card-title {
  text-align: center;
}

.webpage {
  margin: 1em;
}

.review-box{
  border: solid #CCD5AE;
  border-radius: 1em;
  margin: 1em;
  padding: 1em 2em;
}

.callout.secondary{
  font-family: 'Quicksand', sans-serif;
  background-color: #E9EDC9;
}

.cell{
  margin-bottom: 1em;
}

footer{
  padding: 3em 3em;
}

.fa-chevron-circle-up{
  font-size: 3rem;
  color: #D4A373;

  &:hover {
  color: lighten(#D4A373, 15%);
  transition: color 0.3s ease-in;
  }
}

.footer-link{
  color: #B1BA63;

  &:hover{
    color: #D4A373;
  }
}